-#encoding utf-8

%h1 Bienvenido!

%p
  Este sitio tiene la sola intenci&oacute;n de apoyar y alentar al Club Atl&eacute;tico River Plate, a su plantel y a su cuerpo t&eacute;cnico.

%p
  El enojo y la bronca cuando se juega mal se entienden pero, alguien cree realmente que los jugadores no dejan todo en la cancha?

%p
  Alguien duda que Almeyda o el plantel quiere ganar?
  %br
  Alguien duda que Almeyda es TAN hincha de River como vos y como yo?
  %br
  Alguien cree que las puteadas ayudan a algo para mejorar?
  %br
  Ya pasamos por demasiadas cosas malas que no pudimos evitar, no seamos la causa de una m&aacute;s.

%p
  No nos olvidemos que en el peor a&#241;o de la historia del club, una de las cosas que ayud&oacute; a empezar salir fue el aliento, la incondicionalidad y el respeto a la gente que labur&oacute; todos los d&iacute;as para que esto fuera posible, cada uno desde su lugar. Y eso te incluye a vos, que alentaste siempre. No es momento de olvidarse del "...jugando bien o jugando mal..."

%p
  Hagamos honor a lo que cantamos cada partido.
  %br
  Hagamos una diferencia.
  %br
  Yo no quiero ser el que pone banderas negras.
  %br
  Yo no quiero ser el que se va en el primer tiempo cuando el equipo anda mal.

%p
  Yo quiero ser el que alienta a River y el que lo ayuda desde el lugar que le toca, y eso no es silbarlo, eso no es pedir que se vaya la persona que agarr&oacute; la cosa cuando quemaba, cuando muchos perfirieron ni arrimarse, para ayudarlo hay que alentarlo "en las buenas, y en las malas mucho mas".

%p
  Almeyda se equivoca? Le pifia? Claro que si. Vos tambi&eacute;n le pifias en tu laburo. Vos tambi&eacute;n te equivocas dirigiendo lo que tengas a cargo.

%p
  Mat&iacute;as le puso el pecho y di&oacute; todo por esta camiseta. Dej&oacute; el alma y su f&iacute;sico en la cancha. O alguien se olvida de cuando corri&oacute; a la polic&iacute;a y bes&oacute; el escudo mientras se iba expulsado?

%p
  Es momento de demostrarle el respeto que se merece,
  %br
  Enojate, pute&aacute;, chifl&aacute;, pero alent&aacute; 2 veces m&aacute;s, cant&aacute; 2 veces m&aacute;s fuerte.

%p
  "Pasar&aacute;n muchos a&#241;os, jugadores, tambi&eacute;n dirigentes,
  pero lo que pasa es la gente que te alienta <strong>siempre</strong>".

%p
  <strong>SIEMPRE</strong>.
