%html
  %head
    = stylesheet_link_tag 'river'
    %link{ :href => 'http://fonts.googleapis.com/css?family=Offside', :rel => 'stylesheet', :type => 'text/css' }

  %body
    %header


    .stripe.wide
    .stripe.wide
    .stripe.wide

    #content
      = yield body

    %img#logo{ :src => '/images/leon-river.gif' }
