%html
  %head
    = stylesheet_link_tag 'river'

  %body
    = yield body
    %header
      &nbsp;
    

    .stripe.wide
    .stripe.wide
    .stripe.wide

    %img#logo{ :src => '/images/leon-river.gif' }
