%html
  %head
    = stylesheet_link_tag 'river'

  %body
    %header


    .stripe.wide
    .stripe.wide
    .stripe.wide

    #content
      = yield body

    %img#logo{ :src => '/images/leon-river.gif' }
